<form [formGroup]="seachGroup">
<div class="seach-div" >


<mat-form-field >
    <input matInput type="text" placeholder="Seach by title" (input)="trackChange($event)" formControlName="title">
</mat-form-field>
<mat-form-field style="margin-left: 25%;">
    <input matInput type="text" placeholder="seach by chapter" (input)="trackChange($event)" formControlName="chapitre">
</mat-form-field>
<mat-form-field style="float: right; margin-right: 10%;">
    <input matInput type="text" placeholder="Seach by matiere" (input)="trackChange($event)" formControleName="discipline" >
</mat-form-field>
</div>
</form>