<mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    @if(formOpened){
      <div [formGroup]="schoolForm" class="div-form">
        <mat-form-field appearance="fill">
          <mat-label>Nom </mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Addresse</mat-label>
          <input matInput formControlName="addresse">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telephone</mat-label>
          <input type="tel" matInput formControlName="telephone">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Logo</mat-label>
           <button type="button" mat-icon-button matSuffix (click)="f_input.click()">
           <mat-icon>attach_file</mat-icon>
          </button>
          <input matInput readonly formControlName="logoName">
          <input type="file" hidden #f_input (change)="selectFile($event)" accept="application/img">
        </mat-form-field>
        <div class="form-action" style="float: right; margin-bottom: 10px;">
        @if(schoolForm.valid){
          <button mat-raised-button (click)="saveForm()" >Enregistrer</button>
        }
        <button mat-raised-button (click)="openForm()" style="margin-left: 20px;">Annuler</button>
      </div>
      </div>
    }
  </mat-card-content>
</mat-card>
<table mat-table [dataSource]="dataSource">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="addresse">
      <th mat-header-cell *matHeaderCellDef> Addresse </th>
      <td mat-cell *matCellDef="let element"> {{element.addresse}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef> Telephone </th>
      <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
    </ng-container>
       <!-- Symbol Column -->
       <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef> Logo </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
     <!-- Symbol Column -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>@if (!formOpened) {<button mat-stroked-button  style="background-color:violet;color: black;" (click)="openForm()">New(+)</button>}

      </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon style="color: blueviolet;margin-right: 40px;" (click)="openEdit(element)">mode_edit</mat-icon>
        <mat-icon style="color: red; " (click)="delete(element.Id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>