@if(!formOpened){
  <!--<app-cours-dashboard></app-cours-dashboard>-->
}
@if(formOpened==true){
  <mat-card [formGroup]="lessonForm" class="div-form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Discipline</mat-label>
      <input matInput formControlName="discipline">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Chapitre</mat-label>
      <input matInput formControlName="chapitre">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ecole</mat-label>
      <input matInput formControlName="ecole">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contenu</mat-label>
      <textarea matInput formControlName="contenu" rows="4">
      </textarea>
    </mat-form-field>
    <mat-card-actions class="form-action" style="float: right; margin-bottom: 10px;">
    @if(lessonForm.valid){
      <button mat-raised-button (click)="saveForm()" >Enregistrer</button>
    }
    <button mat-raised-button (click)="openForm()" style="margin-left: 20px;">Annuler</button>
    </mat-card-actions>
  </mat-card>
  
}
<div class="mat-elevation-z3" style="margin-top: 15px;">
  <input matInput type="text" placeholder="seach by Title" style="height: 30px; background-color: black; color: violet; margin-left: 10px; font-style: italic; font-size: 15px;"(input)="trackChange($event)">
  <input matInput placeholder="seach by matiere" type="text" style="height: 30px; background-color: black; color: violet; float: right; margin-right: 10px; font-style: italic; font-size: 15px;"(input)="trackChange($event)">
  <input matInput placeholder="seach by chapitre" type="text" style="height: 30px; background-color: black; color: violet; margin-left: 30%; font-style: italic; font-size: 15px;"(input)="trackChange($event)">

  <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="discipline">
        <th mat-header-cell *matHeaderCellDef> Discipline </th>
        <td mat-cell *matCellDef="let element"> {{element.discipline}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="chapter">
        <th mat-header-cell *matHeaderCellDef> Chapitre </th>
        <td mat-cell *matCellDef="let element"> {{element.chapter}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titre </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
       <!-- Symbol Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>@if (!formOpened) {<button mat-stroked-button  style="background-color:violet;color: black;" (click)="openForm()">New(+)</button>}

        </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon style="color: blueviolet;margin-right: 40px;" (click)="openEdit(element)">mode_edit</mat-icon>
          <mat-icon style="color: red; " (click)="delete(element.Id)">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="displayLesssonDetail(row.id)"></tr>
    </table>
  </div>